@import "tailwindcss";
@import "@catppuccin/palette/css/catppuccin.css";

@plugin '@egoist/tailwindcss-icons';

:root {
  --bg: var(--ctp-latte-base);
  --bg-100: var(--ctp-latte-surface0);
  --bg-200: var(--ctp-latte-surface1);
  --bg-300: var(--ctp-latte-surface2);
  --fg: var(--ctp-latte-text);
  --fg-100: var(--ctp-latte-subtext1);
  --fg-200: var(--ctp-latte-subtext0);
  --primary: var(--ctp-latte-mauve);
  --secondary: var(--ctp-latte-pink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--ctp-macchiato-base);
    --bg-100: var(--ctp-macchiato-surface0);
    --bg-200: var(--ctp-macchiato-surface1);
    --bg-300: var(--ctp-macchiato-surface2);
    --fg: var(--ctp-macchiato-text);
    --fg-100: var(--ctp-macchiato-subtext1);
    --fg-200: var(--ctp-macchiato-subtext0);
    --primary: var(--ctp-macchiato-mauve);
    --secondary: var(--ctp-macchiato-pink);
  }
}

@theme inline {
  --color-bg: var(--bg);
  --color-bg-100: var(--bg-100);
  --color-bg-200: var(--bg-200);
  --color-bg-300: var(--bg-300);
  --color-fg: var(--fg);
  --color-fg-100: var(--fg-100);
  --color-fg-200: var(--fg-200);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-monaspace);
  --font-mono: var(--font-maple-mono);
}

@utility mask {
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

@utility mask-squircle {
  mask-image: url("/mask-squircle.svg");
}

body {
  background: var(--bg);
  color: var(--fg);
}
